<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <section id="counter" class="sec-padding">
        <div class="container-md">
            <div class='row align-items-center justify-content-md-center'>
                <div class='col col-md-2'>
                   <img class="logo float-end" src="{{ url_for('static', filename='img/pps-icon.png') }}" />
                </div>
                <div class='col col-md-7 title'>
                  <h1 class='display-2'>PPS Luminosity Notifier</h1>
                </div>
            </div>
        </div>
        <hr class="my-5">

        <div class="container-md">
            <div class='row align-items-center justify-content-md-center'>
                <div class='col col-md-9 title'>
                  <h1 class='display-4'>Last movement performed on {{ last_movement_date }}</h1>
                </div>
            </div>
        </div>

        <hr class="my-5">
        <div class="container-md">
            <div class="row align-items-center justify-content-md-center">
                <div class="col-md-3">
                    <div class="count"> <span class="fa fa-smile-o"></span>
                        <h3 class="display-5">Delivered lumi before last movement</h4> 
                        <p class="number">{{move_del_lumi}} fb<sup>-1</sup></p>
                        <h3 class="display-5">Recorded lumi before last movement</h4> 
                        <p class="number">{{move_rec_lumi}} fb<sup>-1</sup></p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="count"> <span class="fa fa-smile-o"></span>
                        <h3 class="display-5">Delivered lumi since last movement</h4> 
                        <p class="number">{{del_lumi_diff}} fb<sup>-1</sup></p>
                        <h3 class="display-5">Recorded lumi since last movement</h4> 
                        <p class="number">{{rec_lumi_diff}} fb<sup>-1</sup></p>                   
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="count"> <span class="fa fa-smile-o"></span>
                        <h3 class="display-5">Current delivered luminosity</h4> 
                        <p class="number">{{del_lumi}} fb<sup>-1</sup></p>
                        <h3 class="display-5">Current recorded luminosity</h4> 
                        <p class="number">{{rec_lumi}} fb<sup>-1</sup></p>     
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function logout() {
            // Add your logout code here
            window.location.href = '/logout';
        }

    </script>
</body>
</html>
